*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    background-color: #34ce57;
    height: 70px;
    line-height: 70px;
}

#header h1{
    line-height: 70px;
    color: white;
    font-weight: bold;
    font-family: "Segoe UI";
}

#header a{
    color: white;
}

h1{
    color:red;
}