{% extends "base.html" %}
{% block title %}{{ image.title }}{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ post.title }}</h1>
        <!--load thumbline-->
        {% load thumbnail %}
        {% thumbnail post.image "300" as im %}
        <a href="{{ post.image.url }}">
            <img src="{{ im.url }}" class="image-detail">
        </a>
    {% endthumbnail %}
    {% with total_likes=post.users_like.count %}
    <div class="image-info">
        <div>
            <span class="count">
                <span class="total">{{ total_likes }}</span> like
            </span>
            <a href="#" data-id="{{ post.id }}"
                data-action="{% if request.user in post.users_like.all %}un{% endif %}like" class="like button btn btn-success">
                {% if request.user not in post.users_like.all %}
                    Like
                {% else %}
                    Unlike
                {% endif %}
            </a>
        </div>
    </div>
    <div class="image-likes">
        {% for user in post.users_like.all %}
            <div>
                <img src="{{ user.profile.photo.url }}" style="width: 40px">
                <p>{{ user.first_name }}</p>
            </div>
            {% empty %}
            Nobody likes this image yet.
        {% endfor %}
    </div>
{% endwith %}
</div>

    <script>

            $(document).ready(function () {
                $('.like').click(function (e) {
                    e.preventDefault();
                    $.post("{% url 'like' %}",{id:$(this).data('id'),action:$(this).data('action')}).done(function(data){
                        if(data["status"]=="ok"){
                            var action = $('.like').data('action');
                            var like = parseInt($('.total').text());
                            $('a.like').data('action',action == 'like' ? 'unlike' :'like');
                            $('a.like').text(action == 'like' ? 'Unlike' : 'Like');
                                                        console.log(like);
                            $('.total').text(action=='like' ? like +1 : like -1);
                        }
                    });
                });
            }   );
        </script>
{% endblock %}