{% extends "base.html" %}
{% block title %}{{ image.title }}{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ post.title }}</h1>
        <!--load thumbline-->
        {% load thumbnail %}
        {% thumbnail post.image "300" as im %}
        <a href="{{ post.image.url }}">
            <img src="{{ im.url }}" class="image-detail">
        </a>
    {% endthumbnail %}
    {% with total_likes=post.users_like.count %}
    <div class="image-info">
        <div>
            <span class="count">
                <span class="total btn btn-primary" style="border-radius: 10px;width: 60px;border: gainsboro 4px solid; background-color: white;color:gray">{{ count }}</span>
                <span class=" btn btn-primary" style="border-radius: 10px;width: 100px;border: gainsboro 4px solid; background-color: white;color:gray">{{total_views }} views</span>
            </span>
            <a href="#" data-id="{{ post.id }}"
                data-action="{% if request.user in post.users_like.all %}un{% endif %}like" class="like button btn btn-success">
                {% if request.user not in post.users_like.all %}
                    Like
                {% else %}
                    Unlike
                {% endif %}
            </a>
        </div>
    </div>
    <div class="image-likes">
        {% for user in image.users_like.all %}
            <div>
                <img src="{{ user.profile.photo.url }}">
                <p>{{ user.first_name }}</p>
            </div>
            {% empty %}
            <p class="empty">Nobody likes this image yet.</p>
        {% endfor %}
    </div>
{% endwith %}
</div>
<script>

            $(document).ready(function () {
                $('.like').click(function (e) {
                    e.preventDefault();
                    $.post("{% url 'like' %}", {id: $(this).data('id'),action: $(this).data('action'),'csrfmiddlewaretoken': '{{ csrf_token }}', },
                        function (data) {
                            if (data['status'] == 'ok') {
                                var previous_action = $('a.like').data('action');

                                // toggle data-action
                                $('a.like').data('action', previous_action == 'like' ?
                                    'unlike' : 'like');
                                // toggle link text
                                $('a.like').text(previous_action == 'like' ? 'UnLike' :
                                    'Like');
                                var previous_likes = parseInt($('span.count .total').text());
                                $('span.count .total').text(previous_action == 'like' ?
                                    previous_likes + 1 : previous_likes - 1);
                                $('.empty').text(previous_likes == 0 ? 'Nobody likes this image yet.' : '');

                            }
                        }
                        );
                });

            });
        </script>
{% endblock %}